@media (min-width: 500px) {
  #atlas-home-cover-image{
    width: 250px;
    float: left;
    margin: 0 0.5em 0.5em 0;
  }
}
@media (max-width: 499px) {
  #atlas-home-cover-image{
    width: 100%;
    margin: 0 0 0.5em 0;
  }
}

.atlas-loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.atlas-opacity-slider-control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.atlas-opacity-slider-label {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
}

.atlas-opacity-slider-slider {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.bsbi-atlas-taxon-selector-flex-parent {
  display: flex;
}

.atlas-taxon-selector-div {
  flex: 100;
}

.atlas-taxon-selector-link {
  margin-left: 0.5em;
  margin-bottom: 15px !important;
  flex: 1;
}

.bsbi-atlas-taxon-selector {
    margin-bottom: 1em;
    position: relative;
    z-index: 50000;
}

/* .bootstrap-select {
  z-index: 50000;
} */

.dropdown-menu.open {
  z-index: 50000 !important;
}

.atlas-map-control-row, .atlas-trend-control-row {
    margin-bottom: 1em;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }

  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 16px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(51,122,183);
    border-radius: 3px;
    cursor: pointer; /* Cursor on hover */
  }

  .slider::-moz-range-thumb {
    width: 16px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(51,122,183);
    border-radius: 3px;
    cursor: pointer; /* Cursor on hover */
  }

.atlas-range-tick-container {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
}

.atlas-range-tick {
    margin-left: -0.5em;
    position: absolute;
    text-align: center;
    width: 1em;
}

.atlas-range-tick-text {
    font-size: 0.8em;
    margin-left: -1em;
    position: absolute;
}

.atlas-trend-select-container {
  width: 13em;
}
.atlas-trend-tick-container {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}

.atlas-trend-tick {
  margin-left: -0.5em;
  position: absolute;
  text-align: center;
  width: 1em;
}

.atlas-trend-tick-text {
  font-size: 0.8em;
  position: absolute;
  width: 5em;
}

.atlas-trend-tick-text-0 {
  margin-left: -1em;
}

.atlas-trend-tick-text-1 {
  margin-left: -4em;
}

#bsbi-atlas-section-summary .bsbi-atlas-section-header {
  display: none;
}
#bsbi-atlas-section-summary  {
  margin-top: 1em;
}

/* #bsbi-atlas-map-controls {
  margin-top: 1em;
} */

.bsbi-atlas-map-controls label {
  padding: 0.5em;
}

taxon {
  font-style: italic;
}

.legendDiv {
  font-size: 14px !important;
}

.dropdown-menu {
  z-index: 2000 !important;
}

/* .bsbi-section-summary span.taxname {
  display: block
} */

#bsbi-taxa-covered-toggle {
  cursor: pointer;
  font-size: 14px;
}

#bsbi-citation-toggle {
  cursor: pointer;
  font-size: 14px;
}

#bsbi-reference-toggle {
  cursor: pointer;
  font-size: 14px;
}

#bsbi-citation-div {
  display: none;
}

#bsbi-reference-div {
  display: none;
}

.phenRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.phenColumn {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  flex: 1;
}

.phen-path-no-data {
  display: none
}

.inline-gallery-container {
  width: 100%;
  height: 0;
  padding-bottom: 65%;
}

.bsbi-selected-taxon-name.bsbi-section-summary .taxon,
.bsbi-selected-taxon-name.bsbi-section-summary .taxon-authority {
  display: block;
}

.taxon-authority {
  color: grey;
}

.taxon-qualifier {
  font-style: normal;
}

.taxon-qualifier .latin {
  font-style: italic;
}

/* #bsbi-phenology-source .publication-title {
  font-style: italic;
} */

.publication-title {
  font-style: italic;
}

.publication-title .taxon i {
  font-style: normal;
}

.publication-volume {
  font-weight: bolder;
}

.atlas-image-button span {
  font-size: small;
}

.atlas-download-button span {
  font-size: small;
}

#bsbi-conservation-table td {
  padding: 0.2em;
  border: 1px solid lightgrey;
}

#bsbi-conservation-table .ss {
  vertical-align: super;
  font-size: 0.7em;
}

.bsbi-text-ref {
  font-size: 0.9em;
  padding-left: 22px ;
  text-indent: -22px ;
}


/* Minion Pro font for book images */
@font-face {
  font-family: 'Minion Pro';
  src: url('MinionPro-Regular.eot');
  src: url('fonts/MinionPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('fonts/MinionPro-Regular.woff2') format('woff2'),
      url('fonts/MinionPro-Regular.woff') format('woff'),
      url('fonts/MinionPro-Regular.ttf') format('truetype'),
      url('fonts/MinionPro-Regular.svg#MinionPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

span.ref[title] {
  text-decoration:underline;
  text-decoration-style: dotted;
}

div.sect-subhead {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.1;
}

.grid-trend-sum {
  display: inline-grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.grid-trend-sum-item {
  padding: 2px;
}
.bsbi-atlas-taxon-selector-standalone {
  margin-bottom: 1em;
  position: relative;
  z-index: 50000;
}


.atlas-download-modal {
  width: 300px;
  height: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  padding: 15px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 10001;
}

.atlas-download-modal-button {
  float: right;
  margin-left: 0.5em;
}

.atlas-download-modal-grey {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 10000;
}
@media print {
  .nav-tabs {
    display: none;
  }
  .bsbi-atlas-map-controls {
    display: none;
  }
  .bsbi-atlas-taxon-selector {
    display: none;
  }

  #bsbi-citation-div {
    display: block !important;
  }
  #bsbi-citation-div button {
    display: none;
  }
  #bsbi-citation-toggle {
    display: none;
  }

  #bsbi-reference-div {
    display: block !important;
  }
  #bsbi-reference-div button {
    display: none;
  }
  #bsbi-reference-toggle {
    display: none;
  }
  #dotCaption {
    display: none;
  }

  #bsbi-taxa-covered-list {
    display: block !important;
  }
  #bsbi-taxa-covered-toggle {
    display: none;
  }

  #bsbi-atlas-section-summary .bsbi-selected-taxon-name {
    page-break-before: always;
  }
  a[href]:after {
    content: none !important;
  }

  .trend-sum-agg-detail {
    display: inline !important;
  }

  .trend-sum-agg-showhide {
    display: none !important;
  }

  .bsbi-atlas-phenology-controls {
    display: none !important;
  }

  .bsbi-atlas-altlat-controls {
    display: none !important;
  }

  .bsbi-atlas-trend-controls {
    display: none !important;
  }
}
