
.atlas-opacity-slider-control {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.atlas-opacity-slider-label {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em;
}

.atlas-opacity-slider-slider {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.atlas-taxon-selector-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.atlas-taxon-selector-sel {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.atlas-taxon-selector-link {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
}

.bsbi-atlas-taxon-selector {
    margin-bottom: 1em;
}

.atlas-map-control-row {
    margin-bottom: 1em;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 16px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(51,122,183); 
    border-radius: 3px;
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 16px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: rgb(51,122,183); 
    border-radius: 3px;
    cursor: pointer; /* Cursor on hover */
  }

.atlas-range-tick-container {
    position: relative;
    margin-left: 8px;
    margin-right: 8px;
}

.atlas-range-tick {
    margin-left: -0.5em;
    position: absolute;
    text-align: center;
    width: 1em;
}

.atlas-range-tick-text {
    font-size: 0.8em;
    margin-left: -1em;
    position: absolute;
}

.atlas-trend-select-container {
  width: 13em;
}
.atlas-trend-tick-container {
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
}

.atlas-trend-tick {
  margin-left: -0.5em;
  position: absolute;
  text-align: center;
  width: 1em;
}

.atlas-trend-tick-text {
  font-size: 0.8em;
  position: absolute;
  width: 5em;
}

.atlas-trend-tick-text-0 {
  margin-left: -1em;
}

.atlas-trend-tick-text-1 {
  margin-left: -4em;
}

#bsbi-atlas-section-summary .bsbi-atlas-section-header {
  display: none;
}
#bsbi-atlas-section-summary  {
  margin-top: 1em;
}

#bsbi-atlas-map-controls {
  margin-top: 1em;
}

taxon {
  font-style: italic;
}

.legendDiv {
  font-size: 14px;
}

.dropdown-menu {
  z-index: 2000 !important;
}

