@media print {
  .nav-tabs {
    display: none;
  }
  .bsbi-atlas-map-controls {
    display: none;
  }
  .bsbi-atlas-taxon-selector {
    display: none;
  }

  #bsbi-citation-div {
    display: block !important;
  }
  #bsbi-citation-div button {
    display: none;
  }
  #bsbi-citation-toggle {
    display: none;
  }

  #bsbi-reference-div {
    display: block !important;
  }
  #bsbi-reference-div button {
    display: none;
  }
  #bsbi-reference-toggle {
    display: none;
  }
  #dotCaption {
    display: none;
  }

  #bsbi-taxa-covered-list {
    display: block !important;
  }
  #bsbi-taxa-covered-toggle {
    display: none;
  }

  #bsbi-atlas-section-summary .bsbi-selected-taxon-name {
    page-break-before: always;
  }
  a[href]:after {
    content: none !important;
  }

  .trend-sum-agg-detail {
    display: inline !important;
  }

  .trend-sum-agg-showhide {
    display: none !important;
  }

  .bsbi-atlas-phenology-controls {
    display: none !important;
  }

  .bsbi-atlas-altlat-controls {
    display: none !important;
  }

  .bsbi-atlas-trend-controls {
    display: none !important;
  }
}